<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Amissible Payment Manager</title>
        <style>
            *{margin:0px;padding:0px;}
            .container{width:100%;}
            h1{padding:20px;text-align:center;color:white;background:rgb(76,175,80);}
            h2{padding:20px;text-align:center;color:blue;}
            table{margin:auto;width:100%;max-width:800px;border-collapse:collapse;}
            tr:first-child{text-align:center;}
            tr:last-child{text-align:center;}
            td:first-child{font-weight:bold;width:200px;}
            td{padding:5px;}
            input[type=submit]{background-color: #4CAF50;border: none;color: white;padding: 10px 25px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}
            input[type=submit]:hover {box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);}
        </style>
    </head>
    <body>
        <div class="container">
            <form method="post"  action="/pay">
                <input type="hidden" th:value="${alias}" th:attr="name='alias'"/>
                <input type="hidden" th:value="${amount}" th:attr="name='price'"/>
                <input type="hidden" th:value="${currency}" th:attr="name='currency'"/>
                <input type="hidden" th:value="${token}" th:attr="name='description'"/>
                <input type="hidden" name="method" value="paypal" />
                <input type="hidden" name="intent" value="sale" />
                <h1>Amissible Payment Manager</h1>
                <h2 th:text="${org}"></h2>
                <table border="1">
                    <tr><td colspan="2"><h4>Please confirm below details</h4></td></tr>
                    <tr><td>Token</td><td th:text="${token}"></td></tr>
                    <tr><td>Currency</td><td th:text="${currency}"></td></tr>
                    <tr><td>Amount</td><td th:text="${amount}"></td></tr>
                    <tr><td colspan="2"><input type="submit" name="submit" value="Confirm" /></td></tr>
                </table>
            </form>
        </div>
    </body>
</html>